@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Main - Winter Seminar 2016";
}

<div class="row">
    <div class="col-md-12">
        <p class="lead">This demo uses: ASP.NET 5, ReactJS, TypeScript (with AMD modules), Collection+JSON (Hypermedia REST format) and also Bootstrap, Gulp, Bower, npm...</p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="datatable"></div>
    </div>
</div>
<script data-main="js/AppMain" type="text/javascript" src="lib/requirejs/require.js"></script>

<script>
    (function() { 
        $("#nav-home").addClass("active");
    })();
</script>
