@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Winter Seminar 2016";
}

<div class="row">
    <div class="md-col-12">
        <div id="datatable"></div>
    </div>
</div>

<script data-main="js/AppMain" type="text/javascript" src="lib/requirejs/require.js"></script>