@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Winter Seminar 2016";
}


<div class="row">
    <div class="col-md-12">
        <h2>Thank you</h2>
        <p class="lead">
            The code is available on <a href="https://github.com/ytyukhnin/WinterSeminar2016">https://github.com/ytyukhnin/WinterSeminar2016</a>
        </p>
    </div>
</div>
